*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
   background: url("background.jpg") no-repeat center;
   background-size: 100%;
   height: 100vh;
   display:flex;
   justify-content:center;
   align-items: center;
   font-family: 'Poppins',sans-serif;
}

.kit-container{
    width: 100%;
    display:flex;
    justify-content:center;

}

.key{
    width:5%;
    height: 13vh;
    margin: 0 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background: rgba(25, 6, 6, 0.5);
}

kbd{
    font-size: 2rem;
    color: white;
}

.key div{
    color: #eac262;
    font-weight: bold;
    text-transform: uppercase;
}

.playing{
    transform: scale(1.2);
    border: 4px solid  #eac262;
    transition: all 0.08s ease-in-out;
}

